#sec-home
	.conversation, .side
		display inline-block
		vertical-align top


	.side
		box-sizing border-box
		padding 10px

		//min-width 260px
		max-width 500px
		width 20%

		li
			cursor pointer
			&:hover
				text-decoration underline

	.conversation
		padding-top 20px
		width 80%

		video
			border 1px solid color-blue
			display block

		#video-remote
			margin auto
			width 98%
			max-width 500px

		#video-local
			width 100px
