extends base/layout

block header

block content
	img
	section#sec-home
		p#invitation.hidden
			span#user usuario 
			| &nbsp;quiere hablar contigo
			a.button-orange() aceptar
		span#peerId(data-id=id, hidden)
		div.side
			form(name="invitationForm", ng-controller="InvitationController")

				p.error(ng-show="valide &amp;&amp; invitationForm.user.$error.required") Campo requerido
					span.left
				input(type="text", name="user", placeholder="usuario de amigo", ng-model="userType", required)

				input.button-orange(type="submit", value="invitar", ng-click="submit()")

			video#video-local(autoplay)

		div.conversation
			video#video-remote(autoplay)

block js
	script
		init()
