extends base/layout

block content
	section#sec-login.form
		form(ng-controller="FormController", name="signinForm", action=url.login, method="POST")

			h3 Inicia sesión

			p.error(ng-show="valide &amp;&amp; signinForm.username.$error.required") Tu usuario es requerido
				span.right
			input(name="username", type="text", placeholder="usuario", ng-model="userType", required)

			p.error(ng-show="valide &amp;&amp; signinForm.password.$error.required") Tu contraseña es requerida
				span.right
			input(name="password", type="password", placeholder="contraseña", ng-model="passType", required)
			
			a.link-gray(href=url.register) registrarse
			input.button-orange(type="submit", value="ingresar", ng-click="submit()")
		p
			a.button-twitter(href="/auth/twitter") twitter
			a.button-facebook(href="/auth/facebook") facebook