extends base/layout

block content
	section#sec-register.form
		form(ng-controller="FormController", name="signupForm", action=url.register, method="POST")

			h3 Crea una cuenta

			p.error(ng-show="valide &amp;&amp; signupForm.username.$error.required") Tu usuario es requerido
				span.right
			input(type="text", name="username" ,placeholder="usuario", ng-model="userType", required)

			p.error(ng-show="valide &amp;&amp; signupForm.email.$error.required") Tu correo es requerido
				span.right
			p.error(ng-show="valide &amp;&amp; signupForm.email.$error.email") Tu correo es inv치lido
				span.right	
			input(type="email", name="email", placeholder="correo", ng-model="emailType", required)

			p.error(ng-show="valide &amp;&amp; signupForm.password.$error.required") Tu contrase침a es requerida
				span.right
			input(type="password", name="password" ,placeholder="contrase침a", ng-model="passType", required)

			a(href=url.login) iniciar sesi칩n
			input(type="submit", value="registrar", class="button-orange",ng-click="submit()")
		p
			a(href="#", class="button-twitter") twitter
			a(href="#", class="button-facebook") facebook