// colors



// cols
col-width = 160px
width-1-col = col-width
width-2-col = col-width * 2
width-3-col = col-width * 3
width-4-col = col-width * 4
width-5-col = col-width * 5
width-6-col = col-width * 6

// layout
width-content = 960px