// colors
color-blue = #3ABBD5
color-orange = #F38630
color-red = #FF4A4A
color-red-light = #F8B9B7
color-black = rgb(78, 78, 78)

color-facebook = #3b5998
color-twitter = #9AE4E8

font-1 = 'Source Sans Pro', sans-serif;


// cols
col-width = 160px
width-1-col = col-width
width-2-col = col-width * 2
width-3-col = col-width * 3
width-4-col = col-width * 4
width-5-col = col-width * 5
width-6-col = col-width * 6

// layout
width-content = 960px