body
	font-family font-1
	font-weight 300

input, textarea
	box-sizing border-box
	display block
	margin-bottom 8px
	outline none
	transition border-color 200ms linear

	&[type="submit"]
		float right

	&:not([type="submit"])
		border 1px solid color-blue
		min-width 100%
		padding 6px 4px

	&:required:invalid:focus
		border-color color-red
		box-shadow 0 0 4px color-red-light


[class^="button-"]
[class*=" button-"]
	border none
	color white
	cursor pointer
	font-weight 400
	padding 6px 10px
	text-decoration none

	&:hover
		text-decoration underline		

.button-orange
	background-color color-orange

.button-twitter
	background-color color-twitter

.button-facebook
	background-color color-facebook	
