#main-header
	h1
		font-weight 100
		text-align center

		i
			background url("../img/leaf.png") no-repeat
			display inline-block
			height 46px
			margin-right 10px
			vertical-align bottom
			width 60px
	p
		text-align center